<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-pusher-beams"
        version="1.0.0">

  <name>PusherBeams</name>

  <engines>
      <!-- Cordova 6.4.0 and iOS 4.3.0 are required for Cocoapods support -->
   <engine name="cordova" version=">=6.4.0" />
    <engine name="cordova-ios" version=">=4.3.0" />
  </engines>

  <asset src="www/pusher.js" target="js/pusher.js"/>

  <js-module src="www/pusher.js" name="PusherBeams">
    <clobbers target="PusherBeams" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="PusherBeams">
        <param name="android-package" value="za.co.apextechnology.pusher.beams.Pusher"/>
      </feature>
    </config-file>

    <source-file src="src/android/Pusher.java" target-dir="src/za/co/apextechnology/pusher/beams/"/>
  </platform>

  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="PusherBeams">
        <param name="ios-package" value="PusherBeams" />
      </feature>
  </config-file>

    <header-file src="src/ios/AppDelegate+PusherBeams.h" target-dir="PusherPlugin"/>
	<source-file src="src/ios/AppDelegate+PusherBeams.m" target-dir="PusherPlugin"/>
    <header-file src="src/ios/PusherBeams.h" target-dir="PusherPlugin"/>
    <source-file src="src/ios/PusherBeams.m" target-dir="PusherPlugin"/>

     <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="PushNotifications" spec="~> 4.0.0" swift-version="5.0"/>
            </pods>
        </podspec>

         <framework src="PushNotifications" type="podspec" spec="~> 4.0.0" swift-version="5.0" />

  </platform>


</plugin>
